{{ define "CardQuiz" }}
<div id="card-quiz" class="w-full h-screen overflow-y-auto">
  <div
    href="#"
    class="block p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 w-full"
  >
    <h5
      class="text-xl font-bold leading-none text-gray-900 dark:text-white mb-2"
    >
      {{ .QuizTitle }}
    </h5>

    <div id="quiz-question-section">
      {{ range $index, $question := .OpenQuestions }}
      {{ template "OpenQuestionSection" . }}
      {{ end }}

      {{ range $index, $question := .ClosedQuestions }}
      {{ template "ClosedQuestionSection" . }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
