{{ define "ClosedQuestionSection"}}
<div>
  <h3 class="font-normal text-gray-700 dark:text-gray-400">{{ .Text }}</h3>

  <div id="">
    {{ range $index, $answer := .Answers }}
    <div class="relative z-0 w-full mb-5 group flex items-center">
      <input
        id="inline-disabled-checkbox"
        type="checkbox"
        value="{{ $answer.IsSelected }}"
        class="w-4 h-4 mr-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      />
      <p
        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        {{ $answer.Text }}
      </p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
